@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
 

}

.custom-pagination .swiper-pagination-bullet {
  width: 30px;
  height: 30px;
  background: transparent;
  color: black;
  border: 1px solid orange;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  font-size: 14px;
  font-weight: 600;
}

.custom-pagination .swiper-pagination-bullet-active {
  background: orange;
  color: red;
}

.custom-pagination::after {
  display: none !important;
}

/* pagination container margin-top */
.product-swiper .swiper-pagination {
  margin-top: 35px;
  position: relative;
}

/* pagination bullets base */
.product-swiper .swiper-pagination-bullet {
  width: 32px;
  height: 32px;
  background: orange;
  color: #111;
  opacity: 1;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
}

/* active page */
.product-swiper .swiper-pagination-bullet-active {
  background: red;
  color: white;
  border-color: #ef4444;
}

/* number inside bullet */
.product-swiper .swiper-pagination-bullet::before {
  content: attr(aria-label);
}

.related-products-swiper .swiper-pagination-bullet {
  background: #f97316;
  color: white;
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  font-size: 14px;
  opacity: 0.5;
}

.related-products-swiper .swiper-pagination-bullet-active {
  opacity: 1;
  background: #ea580c;
}